# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Editors
.vscode/
.idea/

# OS/temp files
*.tmp
*.swp

# Arduino build artifacts
build/
*.elf
*.hex
*.bin
*.map
*.eep

# Frontend tooling
node_modules/

# PyInstaller build artifacts
*.app/
*.spec
dist/
